.header{
    background-color: var(--primary-color);
    border-bottom: solid var(--secondary-color);  
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 1em;
}

.header .primary{
    width: 100%;
}

.header .primary .wrapper{
    width: 100%;
}

.header .primary .wrapper > *{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.header .primary .wrapper a{
    cursor: default;
    text-decoration: none;
    color: var(--secondary-color);
}

.header .primary .wrapper .logo{
    background: url("../images/logo-transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 12vh;
    width: 6vw;
}

.header .primary .searchbar input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 0.5em 0 0 0.5em;
}   

.header .primary .searchbar button{
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--secondary-color);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 0.5em 0.5em 0;
}

@media screen and (min-width: 480px) {
    .header .primary .wrapper .brandName{
        width: 14%;
        font-size: 1.1em;
    }
    
    .header .primary .wrapper .searchbar{
        width: 60%;
    }
    
    .header .primary .wrapper .login{
        width: 8%;
    }
    
    .header .primary .wrapper .cart{
        width: 7%;
    }
}

@media screen and (max-width:480px) {
    
    .brandName { grid-area: brandName; }
    .logo { grid-area: logo; }
    .searchbar { grid-area: searchbar; }
    .login { grid-area: login; }
    .cart { grid-area: cart; }

    .header .primary .wrapper {
        display: grid;
        grid-template-areas:
            'logo brandName brandName brandName login cart'
            'logo searchbar searchbar searchbar searchbar searchbar';
        gap: 10px;
        padding: 10px;
    }

    .header .primary .wrapper .logo{
        height: 9vh;
        width: 16vw;
    }
}

.header .secondary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
}
.filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .filter-list li {
    display: inline;
    margin-right: 10px;
  }
  
  .filter-list li:last-child {
    margin-right: 0;
  }
  
  .hamburger-menu {
    display: none; /* Hide hamburger menu by default */
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
  }
  
  /* Media query for small screens */
  @media screen and (max-width: 768px) {
    .filter-list {
      display: none; /* Hide filter list on small screens */
    }
  
    .hamburger-menu {
      display: block; /* Show hamburger menu on small screens */
    }
    .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; /* Space for close button */
  }
  
  /* Links inside the side navigation menu */
  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Close button */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
